/* line 1, main-1.scss */
body {
  background-color: #109ceb;
  font-family: arial;
  color: #fff; }

/* line 7, main-1.scss */
img {
  width: 100%;
  border-radius: 5px; }

/*-----------------------------------------------------------*/
/* line 14, main-1.scss */
header {
  height: 80px;
  width: 960px;
  margin: 0 auto; }
  /* line 19, main-1.scss */
  header object {
    float: left; }
  /* line 23, main-1.scss */
  header nav {
    float: right; }
  /* line 27, main-1.scss */
  header button {
    display: none; }
  /* line 31, main-1.scss */
  header li {
    display: inline;
    font-size: 2em;
    margin: 0 10px; }

/*-----------------------------------------------------------*/
/* line 40, main-1.scss */
main {
  width: 960px;
  margin: 0 auto;
  min-height: 600px; }

/* line 46, main-1.scss */
#char-selection {
  width: 180px;
  float: left; }
  /* line 50, main-1.scss */
  #char-selection button {
    display: none; }
  /* line 54, main-1.scss */
  #char-selection #output {
    padding: 0; }
  /* line 58, main-1.scss */
  #char-selection li {
    font-size: 1.6em;
    display: block;
    background-color: #221815;
    width: 150px;
    border-radius: 5px;
    margin: 4px 0;
    padding: 5px 0 5px 15px;
    cursor: pointer; }

/* line 70, main-1.scss */
#char-image {
  width: 400px;
  float: left; }

/* line 75, main-1.scss */
#char-description {
  width: 350px;
  float: left;
  padding: 10px; }

/* line 81, main-1.scss */
th {
  text-align: left;
  vertical-align: top;
  padding-right: 1em; }

/*-----------------------------------------------------------*/
/* line 89, main-1.scss */
footer {
  width: 960px;
  margin: 0 auto; }
  /* line 93, main-1.scss */
  footer ul {
    float: right; }
    /* line 96, main-1.scss */
    footer ul li {
      display: inline;
      margin: 0 6px; }

/*-----------------------------------------------------------*/
/* line 106, main-1.scss */
nav a:link {
  color: #fff;
  text-decoration: none; }
/* line 111, main-1.scss */
nav a:visited {
  color: #fff; }
/* line 115, main-1.scss */
nav a:hover {
  color: #fff; }
/* line 119, main-1.scss */
nav a:active {
  color: #fff; }

/*-----------------------------------------------------------*/
@media all and (max-width: 768px) {
  /* line 129, main-1.scss */
  footer, header, main {
    width: 750px; }

  /* line 135, main-1.scss */
  header nav {
    float: left; }
  /* line 139, main-1.scss */
  header object {
    width: 40%; }
  /* line 143, main-1.scss */
  header button {
    position: absolute;
    top: 50px;
    right: 20px;
    display: block;
    font-size: 2em;
    color: #fff;
    background-color: #109ceb;
    border: 1px solid #fff;
    outline: none; }
  /* line 155, main-1.scss */
  header ul {
    display: none;
    padding: 0; }
    /* line 159, main-1.scss */
    header ul li {
      display: inline-block;
      margin-top: 5px;
      width: 92%;
      border-bottom: 1px solid #fff; }

  /* line 168, main-1.scss */
  #char-selection {
    width: 100%;
    float: left; }
    /* line 172, main-1.scss */
    #char-selection button {
      display: block;
      font-size: 1.6em;
      color: #fff;
      display: block;
      background-color: #221815;
      width: 100%;
      border-radius: 5px;
      margin: 4px 0;
      padding: 5px 0 5px 15px;
      cursor: pointer;
      outline: none;
      border: none; }
    /* line 187, main-1.scss */
    #char-selection #output {
      padding: 0;
      display: none; }
    /* line 192, main-1.scss */
    #char-selection li {
      width: 90%;
      margin: 4px auto;
      text-align: center; }

  /* line 199, main-1.scss */
  #char-image {
    width: 100%; }

  /* line 203, main-1.scss */
  #char-description {
    width: 100%; }
    /* line 206, main-1.scss */
    #char-description th, #char-description td {
      font-size: 1.6em; } }
/*-----------------------------------------------------------*/
@media all and (max-width: 480px) {
  /* line 216, main-1.scss */
  footer, header, main {
    width: 100%; }

  /* line 221, main-1.scss */
  header button {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 1.4em; }

  /* line 230, main-1.scss */
  footer ul {
    padding: 0; }
    /* line 233, main-1.scss */
    footer ul li {
      font-size: 0.8em; }

  /* line 240, main-1.scss */
  #char-selection {
    width: 100%; }

  /* line 244, main-1.scss */
  #char-image {
    width: 100%; }

  /* line 248, main-1.scss */
  #char-description {
    width: 100%; }
    /* line 251, main-1.scss */
    #char-description th, #char-description td {
      font-size: 1em; } }

/*# sourceMappingURL=main-1.css.map */
