* {
	margin: 0;
}

body {
	font-family: arial;
	background-color: #109ceb;
}

main {
	width: 960px;
	margin: 0 auto;
	min-height: 500px;
	padding: 20px;
}

/*------------------------------------------------*/
/*--------------------- Header -------------------*/
/*------------------------------------------------*/

h1 {
	display: inline-block;
}

nav {
	margin-top: 20px;
	display: inline-block;
}

header button {
	font-family: futura, arial;
	font-size: 0.8em;
	border: none;
	background-color: #109ceb;
	color: #fff;
	outline: none;
	border: 1px solid #fff;
}

nav ul {
	font-family: futura, arial;
	font-size: 1.4em;
	padding: 0;
}

nav li {
	display: inline;
}

nav a:link {
	color: #fff;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #fff;
}

nav a:visited {
	color: #fff;
}

nav a:hover {
	color: #fff;
}

nav a:active {
	color: #fff;
}

/*------------------------------------------------*/
/*-------------------- Content -------------------*/
/*------------------------------------------------*/

#container {
	margin-top: 20px;
	display: table;
	content: " ";
}

h2 {
	font-family: futura, arial;
	font-size: 2em;
	text-align: center;
	color: #fff;
}

/*------------------------------------------------*/

#char-selection {
	width: 100%;
	float: left;
}

#char-selection button {
	width: 100%;
	font-size: 1.4em;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #221815;
	color: #f1f0f0;
	margin-bottom: 20px;
	cursor: pointer;
}

#output {
	padding: 0;
	display: none;
}

#output ul{
	padding: 0;
}

#output li {
	list-style: none;
	border-radius: 5px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	margin: 4px auto;
	font-size: 2em;
	background-color: #221815;
	color: #f1f0f0;
}

#output li:hover {
	background-color: #1e323f;
	cursor: pointer;
}

/*------------------------------------------------*/

#char-image {
	width: 100%;
	float: left;
	margin: 20px 20px 0 20px;
}

.picture {
	margin-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	height: 500px;
	width: 400px;
}

/*------------------------------------------------*/

#char-description {
	background-color: #fff;
	border-radius: 10px;
	height: 490px;
	width: 100%;
	padding: 5px;
	float: left;
}

/*------------------------------------------------*/
/*-------------------- footer --------------------*/
/*------------------------------------------------*/

footer {
	border-top: 1px solid #fff;
	margin: 40px 0 60px 0;
}

footer ul {
	margin-top: 5px;
}
footer li{
	font-size: 0.6em;
}

/*------------------------------------------------*/
/*---------------- Media Queries -----------------*/
/*------------------------------------------------*/

@media all and (max-width: 415px) {
	main {
		width: 280px;
	}

	h1 {
		position: relative;
		display: block;
	}

	object {
		width: 200px;
		margin: 0 auto;  /*------Not doing anything ---*/
	}

	header button {
		float: right;
		position: absolute; /* putting the menu button on the right side */
		top: 40px;
		right: 20px;
	}

	header nav ul {
		display: none; /* hiding the menu under the button */
	}

	nav li {
		font-size: 2em; /* making the navigation readable on mobile */
	}

	#char-selection {
		float: left; /* Not a damn thing */
	}

	#char-image {
		margin: 0;
		width: 280px; /*dealing with a left margin on the image div */
	}

	.picture {
		margin-right: 20px;
		background-color: #fff;
		border-radius: 10px; /* dealing with the width of the image that gets put in the image div */
		height: 400px;
		width: 100%;
	}

	#char-description {
		margin: 0;
		width: 270px; /* keeping the info div in line with the rest of things vertically */
	}

	footer {
		font-size: .3em; /* making the footer small */
		width: 280px;
	}

	footer nav {
		float: none;
		text-align: center; /* I dont think it does anything useful */
	}
}

@media all and (min-width: 1024px) {
	header button {
		float: right;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
	}

