$width-small: 414px;
$width-medium: 768px;
$width-large: 1024px;

$color-background: #109ceb;
$color-text: #fff;

* {
	margin: 0;
}

body {
	font-family: arial;
	background-color: $color-background;
}

main {
	width: 960px;
	margin: 0 auto;
	min-height: 500px;
	padding: 20px;

	@media all and (max-width: $width-medium) {
		width: $width-medium - 50;
	}

	@media all and (max-width: $width-small) {
		width: $width-small;
	}
}

/*------------------------------------------------*/
/*--------------------- Header -------------------*/
/*------------------------------------------------*/



header {
	@media all and (min-width: 1024px) {
	header button {
		float: right;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
	}
}
	height: 100px;

	h1 {
	display: inline-block;

		@media all and (max-width: $width-small) {
			position: relative;
			display: block;
		}

	}

	object {

		@media all and (max-width: $width-small) {
			width: 200px;
			margin: 0 auto;
		}
	}

	nav {
		margin-top: 20px;
		display: block;

		@media all and (min-width: $width-large) {
			display: inline-block;
			float: right;
		}

		ul {
			font-family: futura, arial;
			font-size: 1.4em;
			padding: 0;
			display: none;

			@media all and (min-width: $width-large) {
				float: right;
				display: block;
				margin-top: -18px;

			}

		&:last-child {
			margin-bottom: 20px;
		}
			li {
				display: inline;
				font-size: 2em;

				@media all and (min-width: $width-large) {
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
	}
	
	button {
		background-color: $color-background;
		color: $color-text;
		font-size: 1.1em;
		border: 1px solid $color-text;
		outline: none;
		float: right;
		position: absolute;
		top: 35px;
		right: 20px;
		
		@media all and (min-width: 1024px) {
			float: right;
			display: none;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	a:link {
		display: block;
	}
}

nav {
	a {
		&:link {
			color: $color-text;
			text-decoration: none;
			border-bottom: 1px solid $color-text;

			@media all and (min-width: $width-large) {
				border: none;
			}
		}

		&:visited {
			color: $color-text;
		}

		&:hover {
			color: $color-text;
		}

		&:active {
			color: $color-text;
		}
	}
}

/*------------------------------------------------*/
/*-------------------- Content -------------------*/
/*------------------------------------------------*/

#container {
	max-width: 100%;
	margin-top: 20px;
	display: table;
	content: " ";
	position: relative;

	h2 {
		font-family: futura, arial;
		font-size: 2em;
		text-align: center;
		color: $color-text;
		margin-bottom: 10px;

		@media all and (min-width: $width-large) {
			text-align: left;
		}
	}

	@media all and (min-width: $width-small) {
		width: 440px;
	}

}

/*------------------------------------------------*/

#char-selection {

	float: left;
	margin-right: 20px;

	button {
		width: 100%;
		font-size: 1.4em;
		border: none;
		border-radius: 5px;
		padding: 5px 10px;
		background-color: #221815;
		color: #f1f0f0;
		margin-bottom: 10px;
		cursor: pointer;

		@media all and (min-width: $width-large) {
			display: none;
		}
	}

	@media all and (max-width: $width-medium){
		width: 100%;
	}

	@media all and (max-width: $width-small) {
		width: 280px;
	}

	@media all and (min-width: $width-small) {
		width: 440px;
	}

}

#output {
	padding: 0;
	display: none;

	@media all and (min-width: $width-large) {
		display: block;
		width: 200px;
	}

	@media all and (max-width: 480px){
		width: 480px;
	}

	ul {
		padding: 0;	
	}

	li {
		list-style: none;
		border-radius: 5px;
		padding: 10px 0;
		text-align: center;
		width: 100%;
		margin: 4px auto;
		font-size: 2em;
		background-color: #221815;
		color: #f1f0f0;

		@media all and (min-width: $width-large) {
			font-size: 1.5em;
		}

		@media all and (min-width: $width-small) {
			margin-left: 0;
			width: 440px;
		}

		&:hover {
			background-color: #1e323f;
			cursor: pointer;
		}

		@media all and (min-width: $width-large) {
			text-align: left;
			padding-left: 10px;
			float: left;
			margin-right: 20px;
		}
	}
}

/*------------------------------------------------*/

#char-image {
	float: left;
	margin-top: 3px;

	@media all and (max-width: $width-small) {
		width: 280px;
	}

	@media all and (min-width: $width-small) {
		width: 440px;
		margin: 0 auto;
	}
}

.picture {
	margin-right: 10px;
	background-color: $color-text;
	border-radius: 10px;
	height: 500px;
	width: 400px;
	
	@media all and (max-width: $width-small) {
		margin-right: 20px;
		background-color: $color-text;
		border-radius: 10px; /* dealing with the width of the image that gets put in the image div */
		height: 400px;
		width: 100%;
	}

	@media all and (max-width: $width-medium) {
		width: 350px;
		height: 450px;
	}

	@media all and (max-width: $width-small) {
		width: 280px;
		height: 380px;
	}
}

/*------------------------------------------------*/

#char-description {
	background-color: $color-text;
	border-radius: 10px;
	height: 490px;
	padding: 5px;
	float: left;
	width: 320px;
	margin-top: 55px;

	th {
		text-align: left;
		vertical-align: top;
	}

	@media all and (max-width: $width-small) {
		margin: 0;
		width: 270px;
	}

	@media all and (max-width: $width-medium) {
		width: 345px;
		height: 440px;
	}

	@media all and (max-width: $width-small) {
		width: 270px;
		height: 380px;
		margin-top: 10px;
	}
}

/*------------------------------------------------*/
/*-------------------- footer --------------------*/
/*------------------------------------------------*/

footer {
	max-width: 100%;
	border-top: 1px solid $color-text;
	margin: 40px 0 60px 0;

	@media all and (max-width: $width-small) {
		font-size: 0.6em;
	}

	nav {
		width: 100%;

		ul {
			margin: 5px 40px 0 0;
			text-align: right;

			@media all and (max-width: $width-small) {
				margin: 20px;
			}
		}

		li {
			display: inline;
			font-size: 1.4em;

			@media all and (max-width: $width-medium) {
				font-size: 1.4em;
			}

			@media all and (max-width: $width-large) {
				font-size: 1.4em;
			}
		}
	}
}